<div class="row">
      <div class="col-sm-6" id="box">
      </div>
  <div class="col-sm-6"
      id="box2">
      <h1 class="heading" style="color: white;text-align:center;">Contact Us</h1>
       <div id="contain" class="row">
         <div class="col-sm-2" id="phone">
            <p id="text">Phone</p>
            <p id="text">+918073343093</p>
         </div>
         <div class="col-sm-2">
            <p id="text">Enquiries</p>
            <a id="text" href="#">assignmentcorner.in@gmail.com
            </a>
         </div>
         <div class="col-sm-3" style="margin-left: 30%;">
           <h1 id="bigtext">A</h1>
           <p id="text1">Helping Students Navigate the complex maze of projects and deadlines
         </p>
         </div>
       </div>
       <div id="contain" class="row">
          <div class="col-sm-3">
             <p id="text">Address</p>
             <p id="text">Rajatha Peetha, Bangalore, India
            </p>
          </div>
          <div class="col-sm-3">
             <p id="text">Follow us</p>
             <a id="text" href="https://www.facebook.com/AssignmentCorner-102271097789748/?modal=admin_todo_tour
             ">fb</a>
             <a id="text" href="https://www.instagram.com/assignmentcorner.in/?hl=en
             ">In</a>
          </div>
        </div>
        <p id="copyright">© Copyright <a href="#">AssignmnetCorner.in</a>, 2019, All Rights Reserved.Designed by <a href="#">SolveSocials</a></p>
      </div>
      
</div>
