<section id="aboutUs">

  <div class="row" id="auo1">
    <div class="col-md-1" id="first">

      <h2>
        A
      </h2>
      <br />
      <h2>
        B
      </h2>
      <br />
      <h2>
        O
      </h2>
      <br />
      <h2>
        U
      </h2>
      <br />
      <h2>
        T
      </h2>
    </div>
    <div class="col-md-4" id="au2">
      <h1>
        Helping Students Navigate the complex maze of projects and deadlines
      </h1>
      <br />
    </div>

    <div class="col-md-4" id="second">
      <p>
        "We envision to help students exceed all rigorous academic standards and high expectations district
        benchmarks, knowing that it is effort, perseverance, and resiliency that will lead to success throughout life."
      </p>
      <br /><br />
    </div>
  </div>
  <div class="row " id="image">
    <div class="col-sm-4  animated fadeInLeft" id="au3">
      <h1 class="text" id="stywrd">
        What Do We Do?
      </h1>
      <h4>
        We provide online writing assistance in
      </h4>
      <p>
        - Literature Review
      </p>
      <p>
        - Dissertation Writing .
      </p>
      <p>
        - Essay/ Assignment
      </p>
      <p>
        - Project Coursework.
      </p>
      <p>
        - Research Paper Assistance
      </p>
      <p>
        - Methodology
      </p>
      <br />
    </div>
  </div>
</section>
<section id="timeline">
  <div class="tl-item">


    <div class="tl-bg"
      style="background-image: url(/assets/images/writer.jpg)">
    </div>


    <div class="tl-content">
      <p>Write your requirements by filling the project submission form with no payment</p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg"
      style="background-image: url(/assets/images/writer.png);">
    </div>


    <div class="tl-content">
      <br>
      <p>Our writer will evaluate requirements and get in touch with you</p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg"
      style="background-image: url(/assets/images/writer1.png)">
    </div>

    <div class="tl-content">
      <p>Place your order by submitting your deposit and our writer will begin immediately</p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg"
      style="background-image: url(/assets/images/writer2.png)">
    </div>
    <div class="tl-content">
      <p>Receive your paper within your deadlines and make payment</p>
    </div>

  </div>
</section>