<section id="aboutUs">

  <div class="row" id="auo1">
    <div class="col-md-1" id="first">

      <h2>
        A
      </h2>
      <br />
      <h2>
        B
      </h2>
      <br />
      <h2>
        O
      </h2>
      <br />
      <h2>
        U
      </h2>
      <br />
      <h2>
        T
      </h2>
    </div>
    <div class="col-md-4" id="au2">
      <h1>
        Helping Students Navigate the complex maze of projects and deadlines
      </h1>
      <br />
    </div>

    <div class="col-md-4" id="second">
            <p>
              "We envision to help students exceed all rigorous academic standards and high expectations district
              benchmarks, knowing that it is effort, perseverance, and resiliency that will lead to success throughout life."
            </p>
      <br /><br/>
    </div>
  </div>
  <div class="row " id="image">
    <div class="col-sm-4  animated fadeInLeft" id="au3">
      <h1 class="text" id="stywrd">
        What Do We Do?
      </h1>
      <h4>
        We provide online writing assistance in
      </h4>
      <p>
        - Literature Review
      </p>
      <p>
        - Dissertation Writing .
      </p>
      <p>
        - Essay/ Assignment
      </p>
      <p>
        - Project Coursework.
      </p>
      <p>
        - Research Paper Assistance
      </p>
      <p>
        - Methodology
      </p>
      <br />
    </div>
  </div>   
</section>
<section id="timeline">
  <div class="tl-item">
    
    
    <div class="tl-bg" style="background-image: url(https://image.freepik.com/free-vector/notebook-concept-illustration_114360-377.jpg)"></div>
    

    <div class="tl-content">
      <p>Write your requirements by filling the project submission form with no payment</p>
    </div>

  </div>

  <div class="tl-item">
    
    <div class="tl-bg" style="background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.2&permmsgid=msg-f:1644555041473846678&th=16d2a218d4a05d96&view=att&disp=safe&realattid=f_k0hyuel21);"></div>
  

    <div class="tl-content">
      <br>
      <p>Our writer will evaluate requirements and get in touch with you</p>
    </div>

  </div>

  <div class="tl-item">
    
    <div class="tl-bg" style="background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.3&permmsgid=msg-f:1644555041473846678&th=16d2a218d4a05d96&view=att&disp=safe&realattid=f_k0hyulxm2)"></div>

    <div class="tl-content">
      <p>Place your order by submitting your deposit and our writer will begin immediately</p>
    </div>

  </div>

  <div class="tl-item">
    
    <div class="tl-bg" style="background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.4&permmsgid=msg-f:1644555041473846678&th=16d2a218d4a05d96&view=att&disp=safe&realattid=f_k0hyxjxr3)"></div>
      <div class="tl-content">
        <p>Receive your paper within your deadlines and make payment</p>
      </div>

  </div>
</section>




