
@media screen and (min-width:210px) and (max-width: 746px) {
  #home {
	width : 100%;
	/* max-height: 600px; */
	background-image:		
	url('https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.1&permmsgid=msg-f:1644549508670615271&th=16d29d109fdaeee7&view=att&disp=safe&realattid=f_k0hvqecx0');
	background-repeat: no-repeat;
	
  }
  
}

@media screen and (min-width:747px) and (max-width: 1200px) {
  #home {
	height: 100%;
	width: 100%;
	/* max-height: 600px; */
	background-image:		
	url('https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.1&permmsgid=msg-f:1644633834393918229&th=16d2e9c23ca35b15&view=att&disp=safe&realattid=f_k0j7nwwg0');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
  }

  
}

@media screen and (min-width:1200px) {
  #home {
	  margin-top: 3%;
	height: 100%;
	width: 100%;
	/* max-height: 600px; */
	background-image:		
	url('https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.1&permmsgid=msg-f:1644633834393918229&th=16d2e9c23ca35b15&view=att&disp=safe&realattid=f_k0j7nwwg0');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
	
  }
}
@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

