
@media screen and (min-width:210px) and (max-width: 746px) {
  #home {
	width : 100%;
	/* max-height: 600px; */
	background-image:		
	url('/assets/images/home.png');
	background-repeat: no-repeat;
	
  }
  
}

@media screen and (min-width:747px) and (max-width: 1200px) {
  #home {
	height: 100%;
	width: 100%;
	/* max-height: 600px; */
	background-image:		
	url('/assets/images/home1.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
  }

  
}

@media screen and (min-width:1200px) {
  #home {
	  margin-top: 3%;
	height: 100%;
	width: 100%;
	/* max-height: 600px; */
	background-image:		
	url('/assets/images/home1.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
	
  }
}
@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

