section {
  background-color: white;
}


#bkimg1 {
  background-image: url("https://image.freepik.com/free-vector/cogwheels-businesspeople-working_1262-19228.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 450px;
  width: 50%;
}



h2 {
  font: 15px;
  margin-left: 10%;
  color: #2B2B2B;
  font-weight: bold;
}
#script {
  font: 18px;
  margin: 10%;
  color: #6D6D6D;
}
.Heading {
  margin-left: 35%;
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@media screen and (max-width:678px){
  
  #bkimg1 {
    background-image: url("https://image.freepik.com/free-vector/cogwheels-businesspeople-working_1262-19228.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    height: 450px;
    width: 50%;
  }
  

}
@media screen and (min-width: 210px) and (max-width:746px){
    #bkimg1 {
    background-image: none;
    height: 0px;
     }
     h2 {
    margin-left: 5%;
    font: 10px;
    width: 60%;
    }
      #script {
    font: 8px;
    margin-left: 3%;
    width: 60%;
     }
  
  }
  
@media screen and (min-width: 747px) and (max-width: 1200px){
  #bkimg1 {
    background-image: url("https://image.freepik.com/free-vector/cogwheels-businesspeople-working_1262-19228.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 450px;
  width: 50%;
  }
  
}



