@import 'https://fonts.googleapis.com/css?family=Raleway';



@media screen and (min-width:768px) {
  h1 {
    margin-top: 5%;
    font-size: 35px;
  }

  h2 {
    line-height: 1.8;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 20px;
  }

  h3 {
    font-weight: bold;
    color: blue;
    font-size: 15px;
    margin: 0px;
  }
}

#textdeco {
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}






@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
  }


  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}



#content {
  margin-left: 5%;
}






.text {
  font: 3px;
}






.clear {
  clear: both;
}


.main {
  padding: 10% 0;
  position: relative;
}

.container {
  width: 50%;
  background: #fff;
  margin-left: 10%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}





.text {
  font-size: 13px;
}


li {
  color: blue;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

  .fadeInUp.active {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }






@media screen and (min-width:210px) {
  .logo{
    margin: 4%;
    height: 10%;
    width: 35%;
    padding: 1%;
    background-color: aqua; 
    border-radius: 12px;
  }

  .read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    font-size: .9em;
    line-height: 2;
    border-radius: 12px;
    margin-left: 5%;
    background-color: aqua;
  }
  
  h1 {
    margin: 3%;
    font-size: 28px;
    width: 70%;
  }
  h3{
    width: 70%;
    margin: 2.5%;
    font-size: 15px;
  }

  p {
    margin: 3%;
    color: black;
    font-size: 12px;
    width: 65%;
  }

  .text {
    font-size: 12px;
  }
  #textdeco {
    font-size: 20px;
    margin: 5%;
  } 
  :hover #showme,:hover #showme1,:hover #showme2,:hover #showme3 {
    display: block;
    transform: translateY(0);
  transition: all 0.75s ease 0.5s;
  }
  #showme,#showme1,#showme2,#showme3{
    display: none;
  }
}
@media screen and (min-width:1200px) {
  #textdeco {
    text-align: left;
  } 
  .text {
    font-size: 13px;
  }
  .logo{
    font-size: 20px;
    width: 16%;
    height: 4%;
    border-radius: 12px;
    background-color: white;
  }
  .read-more-trigger {
    border-radius: 12px;
    width: 10%;
    height: 8%;
  }
  span{
    font-size: 50px;
    color: blue;
  }

}
